h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2e2e2e;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #2e2e2e;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #2e2e2e;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #2e2e2e;
}

a {
    color: tomato;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

.contain {
    width: auto;
    margin: auto 50px;
}

.header {
    margin: 60px auto 40px;
}

.hero {
    display: flex;
}


.hero-img {
    width: 66%;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.hero-text {

}

.columns {
    width: auto;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;

}

.grid-img {
    width: 100%;
    border-radius: 10px;
}

.grid-text {
    margin: 10px 10px;
}

.grid1 {
    width: 33%;
    height: 400px;
    margin-right: 5px;
}

.grid2 {
    width: 33%;
    height: 400px;
    margin: auto 5px;
}

.grid3 {
    width: 33%;
    height: 400px;
    margin-left: 5px;
    
}